/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: Candara, Calibri, Segoe, Optima, Arial, sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* my CSS */

body {
  /*background: url('../img/crossword.png');*/ /*Thanks to subtlepatterns.com and Ideawebme*/
  text-align: center;
}
#landing {
  background: #fff;
}
#logo img {
  width: 40%;
  max-width: 300px;
  padding-top: 15px;
}
.first, .last {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header {
  margin-top: 10%;
}
header li {
  display: inline-block;
  padding: 7px;
}
header img {
  width: 58%;
  max-width: 250px;
}
.words {
  width: 88%;
  max-width: 770px;
  margin: 0 auto;
  line-height: 2em;
  text-align: left;
}
.bot-words {
  max-width: 710px;
  line-height: 2em;
  text-align: left;
}
.bot-words img {
  float: left;
  width: 21%;
  padding-right: 4%;
}
#bio {
  text-align: left;
  padding: 6%;
}
li {
  display: inline-block;
}
h1 {
  font-size: 5rem;
  color: #32697F;
  padding: 10px;
  font-family: 'Merriweather Sans', 'Lucida Grande', sans-serif;

}
h2, h3 {
  font-size: 2em;
  color: #59747F;
  /* font-family: 'Droid Serif', 'Lucida Bright', serif;  */
  font-family: 'Merriweather Sans', 'Lucida Grande', sans-serif;
}
h3 {
  font-size: 1.5em;
}
#bot-section {
  position: relative;
  bottom: -50%;
}
#links {
  padding: 15px;
}
#links li {
  display: inline;
  margin: 2px 10px;
}
a {
    -webkit-transition: color .5s;
    -moz-transition:    color .5s;
    -ms-transition:     color .5s;
    -o-transition:      color .5s;
    transition:         color .5s;
}

a:link {
  text-decoration: none;
  color: #8ABACD;
}
a:visited {
  text-decoration: none;
  color: #8ABACD;
}
a:hover {
  color: #FF8800;
  text-decoration: none;
}
a:active {
  text-decoration: none;
  color: #8ABACD;
}
@font-face {
  font-family: Barnabus;
  src: url('Barnabus.otf');
}
#logotype {
  font-family: Barnabus;
}
.row-work {
  width: 88%;
  max-width: 575px;
  margin: 0 auto;
}
.row-work img {
  width: 100%;
  border: 4px solid black;
}
#jme {
  width: 30%;
  border-radius: 12px;
  float: left;
  margin-right: 1%;
}
.arrow-down {
  opacity: 0;
  color: #59747F;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 6%;
  animation: bounce 2s ease infinite 2s alternate;
}
.arrow-up {
  opacity: 0;
  color: #59747F;
  position: relative;
  left: 0;
  right: 0;
  top: 2%;
  animation: bounce 6s ease infinite 2s alternate;
}
#fn-greeting {
  visibility: hidden;
}
#fn-i-am {
  margin-top: 3%;
  visibility: hidden;
}
#about {
  height: 73vh;
  background: rgb(24, 49, 95);
}
#about p, #about li {
  color: rgb(187, 187, 172);
}
#projects {
  background: #EFEFEF;
  padding: 3%;
}
#projects div {
  display: inline-block;
  width: 40%;
  padding: 1%;
}
#projects img {
  max-width: 1280px;
  width: 100%;
  box-shadow: 0px 2px 2px #777474;
}
#projects h2 {
  position: relative;
  top: 6%;
  font-size: 3em;
  color: #939393;
  padding-bottom: 1%;
}
#contact {
  text-align: center;
}
#projects .descriptions {
  display: none;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    transform: translateY(4px);
    opacity: 1;
  }
}
/*Media Queries*/

/*Mobile Portrait*/
@media screen and (max-width: 705px) {
  #projects div {
    width: 85%;
  }
  .bot-words {
    width: 78%;
    padding-left: 7%;
  }
  .fa-3x {
    font-size: 2.2em;
  }
}